### Vytvořit DB

In [12]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

from sqlalchemy import create_engine

from sqlalchemy.orm import sessionmaker

import pandas as pd
from faker import Faker
from random import randint

In [2]:
# base for table classes
Base = declarative_base()

# pripojeni
engine = create_engine('mysql+pymysql://pacient_admin:DSCZ4078@localhost/projektpacienti')

Session = sessionmaker(bind=engine)
link = Session()

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10484\1151602689.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

### Tabulka pacienti -> id, jmeno, prijmeni, vek

In [3]:
# sample class mapping table from database
class Pacient(Base):

   __tablename__ = 'pacienti'

   # fields and their types
   id = Column(Integer, primary_key=True, autoincrement=True)
   jmeno = Column(String(40))
   prijmeni = Column(String(40))
   vek = Column(Integer)

   def __init__(self, jmeno, prijmeni, vek):
      self.jmeno = jmeno
      self.prijmeni = prijmeni
      self.vek = vek

### Tabulka zdravotni_udaje -> výška, hmotnost, krevní skupina

In [4]:
# sample class mapping table from database
class ZdravotniUdaj(Base):
    
    __tablename__ = 'zdravotni_udaj'

    # fields and their types
    id = Column(Integer, primary_key=True, autoincrement=True)
    vyska = Column(Integer)
    hmotnost = Column(Integer)
    krevni_skupina = Column(String(40))

    def __init__(self, vyska, hmotnost, krevni_skupina):
        self.vyska = vyska
        self.hmotnost = hmotnost
        self.krevni_skupina = krevni_skupina

### Tabulka platebni_udaje -> cislo_karty, cislo_uctu, banka

In [5]:
# sample class mapping table from database
class PlatebniUdaj(Base):

   __tablename__ = 'platebni_udaj'

   # fields and their types
   id = Column(Integer, primary_key=True, autoincrement=True)
   platebni_karta = Column(Integer)
   cislo_uctu = Column(Integer)
   banka = Column(String(40))

   def __init__(self, platebni_karta, cislo_uctu, banka):
      self.platebni_karta = platebni_karta
      self.cislo_uctu = cislo_uctu
      self.banka = banka

In [6]:
Base.metadata.create_all(engine)

### Generování náhodných lidí s údaji

In [42]:
fake = Faker('cs_CZ')
lidi = []
zdravotni = []
platebni = []

krevni_skupiny = {0: "0", 1: "A", 2: "B", 3: "AB"}
banky = {0: "CSOB", 1: "KB", 2: "AirBank", 3: "Moneta", 4: "Fio"}

objekty = {}

for i in range(10):
    clovek = {"jmeno": fake.first_name(), "prijmeni": fake.last_name(), "vek": randint(0, 100)}
    zdr = {"vyska": randint(150, 200), "hmotnost": randint(45, 150), "krevni_skupina": krevni_skupiny[randint(0, 3)]}
    plat = {"platebni_karta": fake.credit_card_number(), "cislo_uctu": fake.passport_number(), "banka": banky[randint(0, 4)]}
    # příprava na dfs
    lidi.append(clovek)
    zdravotni.append(zdr)
    platebni.append(plat)
    # vytvářet objekty pro ORM
    objekty[i] = Pacient(clovek["jmeno"], clovek["prijmeni"], clovek["vek"])

In [43]:
lidi_df = pd.DataFrame.from_records(lidi)
lidi_df

       jmeno   prijmeni  vek
0    Zikmund     Říhová   69
1     Žaneta     Slavík    7
2     Andrea     Pavlík   27
3      Ester   Jarošová   62
4     Teodor   Burešová   39
5    Bohumír  Slavíková   63
6  Blahoslav   Stejskal   29
7     Štěpán  Slavíková   37
8       Leoš      Vlček   87
9    Kryštof      Tesař    1

In [37]:
zdravotni_df = pd.DataFrame.from_records(zdravotni)
zdravotni_df

   vyska  hmotnost krevni_skupina
0    187       133             AB
1    178        62              B
2    177        51              B
3    172        76              B
4    193       118              B
5    172       150              A
6    191        99              A
7    162        45              0
8    170       139              0
9    179        93              B

In [38]:
platebni_df = pd.DataFrame.from_records(platebni)
platebni_df

     platebni_karta cislo_uctu    banka
0  2233187750672750  767633120  AirBank
1    30305471876422  I84878095  AirBank
2   180061095788158  E51296851       KB
3  3509370305108331  B02099510     CSOB
4  2706427459136261  K73106922   Moneta
5   180089479832953  Y08022768     CSOB
6  4919050578585678  766182444      Fio
7  6573432362063199  716052238       KB
8  3516004714862094  G16039152  AirBank
9     4021418352318  F08954856       KB

In [39]:
lidi_df.to_sql(name='pacienti', con=engine, if_exists='replace', index=False)

10

In [40]:
platebni_df

     platebni_karta cislo_uctu    banka
0  2233187750672750  767633120  AirBank
1    30305471876422  I84878095  AirBank
2   180061095788158  E51296851       KB
3  3509370305108331  B02099510     CSOB
4  2706427459136261  K73106922   Moneta
5   180089479832953  Y08022768     CSOB
6  4919050578585678  766182444      Fio
7  6573432362063199  716052238       KB
8  3516004714862094  G16039152  AirBank
9     4021418352318  F08954856       KB

### Uložení dat do databáze

In [49]:
for key, novy_pacient in objekty.items():
    link.add(novy_pacient)

In [7]:
id001 = Pacient('Michal', "Maliszewski", 32)
link.add(id001)

In [8]:
pu001 = PlatebniUdaj(12345, 54321, "CSOB")
link.add(pu001)

In [9]:
zu001 = ZdravotniUdaj(187, 95, "AB")
link.add(zu001)

In [50]:
# provést změny na databázi
link.commit()

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10484\906314286.py:2: SAWarning: Identity map already had an identity for (<class '__main__.Pacient'>, (0,), None), replacing it with newly flushed object.   Are there load operations occurring inside of an event handler within the flush?
  link.commit()