### Vytvořit DB

In [17]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text

import pandas as pd
from faker import Faker
from random import randint

In [2]:
# base for table classes -> ORM connection between classes and tables
Base = declarative_base()

# connection to DB
engine = create_engine('mysql+pymysql://pacient_admin:DSCZ4078@localhost/projektpacienti')

# link for writing data -> adding and commiting
Session = sessionmaker(bind=engine)
link = Session()

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10020\986113078.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
sql = "create table if not exists nova_tabulka(id integer primary key auto_increment, novy_sloupec integer);"

### Tabulka pacienti -> id, jmeno, prijmeni, vek

In [3]:
# sample class mapping table from database
class Pacient(Base):

   __tablename__ = 'pacienti'

   # fields and their types
   id = Column(Integer, primary_key=True, autoincrement=True)
   jmeno = Column(String(40))
   prijmeni = Column(String(40))
   vek = Column(Integer)

   def __init__(self, jmeno, prijmeni, vek):
      self.jmeno = jmeno
      self.prijmeni = prijmeni
      self.vek = vek

### Tabulka zdravotni_udaje -> výška, hmotnost, krevní skupina

In [4]:
# sample class mapping table from database
class ZdravotniUdaj(Base):
    
    __tablename__ = 'zdravotni_udaj'

    # fields and their types
    id = Column(Integer, primary_key=True, autoincrement=True)
    vyska = Column(Integer)
    hmotnost = Column(Integer)
    krevni_skupina = Column(String(40))

    def __init__(self, vyska, hmotnost, krevni_skupina):
        self.vyska = vyska
        self.hmotnost = hmotnost
        self.krevni_skupina = krevni_skupina

### Tabulka platebni_udaje -> cislo_karty, cislo_uctu, banka

In [5]:
# sample class mapping table from database
class PlatebniUdaj(Base):

   __tablename__ = 'platebni_udaj'

   # fields and their types
   id = Column(Integer, primary_key=True, autoincrement=True)
   platebni_karta = Column(Integer)
   cislo_uctu = Column(Integer)
   banka = Column(String(40))

   def __init__(self, platebni_karta, cislo_uctu, banka):
      self.platebni_karta = platebni_karta
      self.cislo_uctu = cislo_uctu
      self.banka = banka

In [6]:
# vytvoř mi ty tabulky -> všechny třídy, které dědily Base a mají vhodný formát (jinak chyba) -> vytvořit
Base.metadata.create_all(engine)

### Generování náhodných lidí s údaji

In [7]:
# generátor náhodných lidí s českou lokalizací
fake = Faker('cs_CZ')
# sem budu ukládat informace -> příprava na pandas sql zápis
lidi = []
zdravotni = []
platebni = []

# možné hodnoty sloupců -> vylosoujeme číslo a přiřadíme hodnotu
krevni_skupiny = {0: "0", 1: "A", 2: "B", 3: "AB"}
banky = {0: "CSOB", 1: "KB", 2: "AirBank", 3: "Moneta", 4: "Fio"}

# sem budu ukládat objekty (instance) -> příprava na ORM zápis
pacienti_objekty = {}

for i in range(10):
    # vygeneruj náhodného člověka a jeho zdravotní a platební údaje
    clovek = {"jmeno": fake.first_name(), "prijmeni": fake.last_name(), "vek": randint(0, 100)}
    zdr = {"vyska": randint(150, 200), "hmotnost": randint(45, 150), "krevni_skupina": krevni_skupiny[randint(0, 3)]}
    plat = {"platebni_karta": fake.credit_card_number(), "cislo_uctu": fake.passport_number(), "banka": banky[randint(0, 4)]}
    # ulož do listu -> list s údaji všech lidí
    lidi.append(clovek)
    zdravotni.append(zdr)
    platebni.append(plat)
    # zinicializuj podle třídy Pacient konkrétního člověka a ulož do objektů
    pacienti_objekty[i] = Pacient(clovek["jmeno"], clovek["prijmeni"], clovek["vek"])

In [11]:
# převod listů obsahujících slovníky na dataframy
lidi_df = pd.DataFrame.from_records(lidi)
zdravotni_df = pd.DataFrame.from_records(zdravotni)
platebni_df = pd.DataFrame.from_records(platebni)
lidi_df

        jmeno   prijmeni  vek
0        Zora  Strnadová   64
1   Dobroslav    Králová   25
2    Michaela   Krejčová    0
3      Anežka   Navrátil   26
4         Ema      Tichý    6
5        Erik    Mašková   46
6       Miloš     Veselý   50
7       Robin      Dušek   79
8  Stanislava   Navrátil   50
9       Adéla    Valenta   49

### Uložení dat do databáze

In [13]:
# využijeme .to_sql metodu z pandas -> zápis do sql pomocí pandas
lidi_df.to_sql(name='pacienti', con=engine, if_exists='replace', index=False)
zdravotni_df.to_sql(name='zdravotni_udaj', con=engine, if_exists='replace', index=False)
platebni_df.to_sql(name='platebni_udaj', con=engine, if_exists='replace', index=False)

10

In [14]:
# příklad jak přes ORM přidávat data
id001 = Pacient('Michal', "Maliszewski", 32)
link.add(id001)

pu001 = PlatebniUdaj(12345, 54321, "CSOB")
link.add(pu001)

zu001 = ZdravotniUdaj(187, 95, "AB")
link.add(zu001)

In [15]:
# pro každý objekt z pacienti_objekty, přidej .add to paměti, ať můžeme udělat commit a nahrát data do db
for key, novy_pacient in pacienti_objekty.items():
    link.add(novy_pacient)

In [16]:
# provést změny na databázi -> všechno co bylo přidáno pomocí .add tak pošleme do db
link.commit()

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10020\3640844481.py:2: SAWarning: Identity map already had an identity for (<class '__main__.Pacient'>, (0,), None), replacing it with newly flushed object.   Are there load operations occurring inside of an event handler within the flush?
  link.commit()

In [25]:
# posílání sql přes sql alchemy engine
# načtení dat pomocí orm
with engine.connect() as con:
    query = f"SELECT * FROM pacienti where jmeno like 'A%' or jmeno like 'D%';"
    data = con.execute(text(query))

In [26]:
for row in data:
    print(row)

('Dobroslav', 'Králová', 25)
('Anežka', 'Navrátil', 26)
('Adéla', 'Valenta', 49)
('Dobroslav', 'Králová', 25)
('Anežka', 'Navrátil', 26)
('Adéla', 'Valenta', 49)